#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container>div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    height: 50px;
    border: 1px solid black;
    border-radius: 15px;
}

#counter{
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    width: 50px;
    background-color:rgb(81, 127, 214);
    border: none;
    border-radius: 10px;
    font-size: x-large;

}